@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&family=Noto+Sans&display=swap');

:root {scroll-behavior: smooth;}

body {
    font-family: 'Maven Pro', sans-serif;
    font-size: x-large;
    text-align: center;
    --coloumn-padding: 15%;
    --navi-padding: 20px;
    --background: #10121c;
    --accent: #1c2631;
    --accent-secondary: #1e2434;
    background-color: var(--background);
    color: white;
    margin: 0;
    padding: 0;
}
nav {
    vertical-align: middle;
    line-height: 60px;
    background-color: var(--accent);
    height: 60px;
}
.grid-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
} 
.grid-item {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    padding-left: var(--coloumn-padding); 
    padding-right: var(--coloumn-padding); 
    padding-top: 20px;
    padding-bottom: 20px;
}
h1 {
    font-size: xx-large;
}
.profile {
    width: 50%;
    border-radius: 50%;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
}
.profile:hover {
    transform: rotateZ(-20deg);
    transition: 400ms;
}
footer.grid-item {
    margin: 0px;
}
ul {
    list-style-type: none;
    padding: 0px;
    margin: 0;
}
li {
    display: inline-block;
}
li.navi {
    padding-left: var(--navi-padding);
    padding-right: var(--navi-padding);
    margin-top: 10px;
    border-radius: 20px;
}
li.navi:hover {
    padding-left: var(--navi-padding);
    padding-right: var(--navi-padding);
    background-color: #0f1119;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
    border-radius: 20px;
    transition: 0.3s;
}
a {
    text-decoration: none;
    color: aqua;
}
a.navi, a.link {
    color: white;
}
.spacer {
    aspect-ratio: 960/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.layer-1 { background-image: url('./wave1.svg'); }
.layer-2 { background-image: url('./wave2.svg'); }
.layer-3 { background-image: url('./wave3.svg'); }
.secondary-color {
    background-color: var(--accent-secondary);
}
.home {
    background-image: url("darkbg.svg");
}
#proj {
    padding-left: 10%;
    padding-right: 10%;
    background-image: url("darkbg.svg");
}
.proj-grid {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 5%;
}
.project-img {
    width: 100%;
    border-radius: 20px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}
.project-img:hover {
    width: 150%;
    transition: 200ms;
}
.project-img, .prj-data {
    margin-top: 0;
}
.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}
.fade-in.appear {
    opacity: 1;
}
.from-left {
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 250ms ease-in, transform 400ms ease-in;
}   
.from-left.appear {
    transform: translateX(0%);
    opacity: 1;
}
.view-work {
    color: white;
    border-style: solid;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
}


@media only screen and (min-width: 768px)  {
    body {
        --coloumn-padding: 35%;
    }
    .profile {
        width: 30%;
    }
    .proj-grid {
        grid-template-columns: repeat(2, 1fr);
        
    }
    .project-img, .prj-data {
        margin-top: 200px;
    }
} 